body{

    font-family: 'Spartan';
    box-sizing: border-box;
    margin: 20px;
    background: url(images/bg-pattern-bottom-mobile.svg);
}
.bigbox{

    display: flex;
    flex-direction: column;

}
.title{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -20px;
    text-align: center;
}
.intro{
    display: flex;
    color: hsl(303, 10%, 53%) ;
    font-size:15px;
    line-height: 1.5;
    font-weight: 700;  
    text-align: center;
    padding:10px;
    margin: 10px;
}
.grid-containera{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.rating{
    background: hsl(300, 24%, 96%);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.grid-container2{
    display: flex;
    flex-direction: column;
    
    

}
.pic{
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;

}
.nvb{
    display: grid;
    margin-right: 100px;
    margin-top: 20px;
    grid-row: 1;
    grid-column: 2;
    
}
.vb{
    color: hsl(333, 80%, 67%);
}
.name{
   color: hsl(300, 24%, 96%);
}
.review{
    background: hsl(300, 43%, 22%);
    border-radius: 5px;
    margin: 10px;
    height: 200px;
    color: hsl(303, 10%, 53%);
    font-size: 15px;
    
}
.Id{ 
    display: grid;
    grid-row: 1;
    grid-column: 1;
    padding-left: 5px;
   

}
.quote{
    text-align: left;
    font-weight: 700;
   padding: 20px;
    
}