body{
    font-family: 'Spartan';
    box-sizing: border-box;
    margin:50px;
    background-repeat: no-repeat;
    
    background:url(images/bg-pattern-top-desktop.svg);
}

.bigbox{

    margin: 100px;
}
.heading{
    
    display: grid;
    flex-direction: column;
    
     
    
   
    
}

.title{
    font-size: 3rem;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    width: 50%;
    grid-row: 1;
    grid-column: 1;
   
    
}
.intro{
    
    color:hsl(303, 10%, 53%) ;
    font-size: 15px;
    display: flex;
    font-weight:500;
    width:60%;
    line-height: 1,5;
    padding-top: 20px;
    grid-row: 2;
    grid-column: 1;

    

}
.grid-containera{
   font-family: 'Spartan';
   font-weight: 700;
   color: hsl(300, 43%, 22%) ;
   display: flex;
   flex-direction: column;
   grid-row:  1/2;
   grid-column: 2;
   text-align: left;
   justify-items: left;
   width:400px;
   margin-top: 50px;
 
   
   
  

}
.rating{
    font-weight: 700;
    background: hsl(300, 24%, 96%);
    
}
.grid-item1{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    margin-right: 80px;
    margin-left: -40px;
    border-radius: 5%;
    
    
}
.grid-item2{
    display: flex;
    margin-bottom: 10px;
    margin-right: 40px;
    padding: 10px;
    border-radius: 5%;
}
.grid-item3{ 
    display: flex;
    margin-left: 40px;
    
    padding-right: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
   
}
.stars{
    margin-right: 20px;
}
.grid-container2{

    display: flex;

    
    
}
.review{
    font-size: 15px;
    color:  hsl(303, 10%, 53%) ;
    font-weight:500;
    background: hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 5px;
}

.Id{

    display: grid;
    margin-bottom: 15px;
   
    
    
}
.nvb{
    line-height: 1.3;
    display:flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    margin-right: 100px;
}
.name{
    color: hsl(300, 24%, 96%);
}
.vb{
    color: hsl(333, 80%, 67%) ;
}

 

.pic{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    
    margin: 0;
    border-radius: 50%;
    height: 40px;
    width:40px;
}
.grid-itema{
  
   margin-left: -5px;
   

}
.grid-itemb{
    margin-top: 40px;

   
}

.grid-itemc{
    margin-top: 60px;
    

   
}

